.main-header {    
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.main-header__title {    
    font-size: 80px;
    letter-spacing: -1.5px;    
}

.main-header__title--blue {
    color: #2a044a;
    font-size:60px;
}

.main-header__title--verde {
    color: #7ab317;
    font-size:60px;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
}

.main-header__menu a {
    padding: 10px 10px;
    color: #2a044a;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
    background-color: #0d6759;
    color: #a0c55f;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.badge-carrinho {
    background-color: #cfddb6;
    padding: 5px 10px;    
    border-radius: 4px;
    color: #2a044a;
}

.search-form{
    height: 44px;
    display: flex;
}

.search-form input{
    box-sizing: border-box;
    height: 56px;
    padding: 10px;
    flex:1;
    background-color: #cfddb6;
    color: #2a044a;
    border-radius: 5px 0 0 5px;
    transition: all -3s ease-in-out;
    font-size: 22px;
}

.search-form button{
    width: 56px;
    height: 56px;
    background-color: #7ab317;
    border-radius: 0 5px 5px 0;
    color: #2a044a;
    font-size: 22px;
}