.footer {
    background-color: #a0c55f;        
    color: #2a044a;
    font-size: 18px;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: #7ab317;   
    font-weight: bold;
    padding: 20px;
    color: #2a044a;
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    color: #2a044a;
    margin-bottom: 5px;
}

.footer__about-text {
    width: 400px;
    text-align: justify;
}


.footer i {
    color: #2a044a;
}

.footer li {
    margin: 10px 0;
}