<section class="product__container">
    <div class="product-image__container">
        <img [src]="servico?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ servico?.descricao }}</h2>
        <h3 class="product__price">{{ servico?.preco | currency:"BRL" }}</h3>
        <p>Vagas disponivel</p>
        <label>
            quantidade:
            <input type="number" [(ngModel)]= "quantidade" min="1">
            vaga (s)
        </label>
        <p class="product__avaiability">
            {{ servico?.quantidadeDisponivel }} vagas disponiveis
        </p>
        <button>Adicionar ao carrinho</button>
    </div>
</section>
